
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv*/
ENV/
.env
*.sqlite3
*.db
*.log
*.pot
*.pyc
*.pkl
*.mypy_cache/
*.pytest_cache/


.vscode/


node_modules/
.next/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.db


alembic.ini
migrations/versions/*.pyc


*.pid
docker-compose.override.yml


logs/


*.swp
*.swo


out/


.coverage
coverage/


build/


*.tsbuildinfo


package-lock.json
yarn.lock
pnpm-lock.yaml

.idea/
*.iml


/docs/_build/
